.cocktail {
  display: flex;
  align-items: top;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.cocktail-body {
  padding: 10px 20px;
  margin-left: 10px;
  color: rgba(0,0,0,0.4);
  background-color: white;
  width: 400px;
  position: relative;
}
.cocktail-body h3 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}

.cocktail-body p {
  margin: 10px 10px 10px 0px;
}
.cocktail-details {
  min-width: 150px;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-dose {
  position: absolute;
  bottom: 15px;
}
